<menu></menu>
<br>
<div id="adminInfo" *ngIf="rol == 'admin' || rol == 'supervisor'">
	
	<a id="addUser" [routerLink]="['../addrepostar']"><i class="fas fa-plus-circle"></i> Añadir repostaje</a>
</div>
<div id="tablaUsuarios">
	<table>
		<tr >
			<th>Vehiculo</th>
			<th>Cantidad</th>
			<th>Momento</th>
			<th>Usuario</th>
			<th *ngIf="rol == 'admin'">Control</th>
		</tr>
		<tr *ngFor="let item of lista">
			<td>{{item.vehiculo}}</td>
			<td>{{item.litros}} litros</td>
			<td>{{item.hora|date: "hh:mm dd-MM-yyyy"}}</td>
			<td>ruta {{item.conductor}}</td>
			<th *ngIf="rol == 'admin'">
				<a ><i class="far fa-edit editBtn" [routerLink]="['/editrepostar/',item.id]"></i></a>
				<a (click)="delete(item.id)"><i id="trash" class="far fa-trash-alt"></i></a>
				<div [class]="hidden" id="warning" style="display: none">
					<p><i class="fas fa-exclamation-triangle"></i> ¡Atención!</p>
					<p>Vas a borrar un repostaje y luego no podrás recuperarlo.</p>
					<p>¿Esás seguro?</p>
					<button id="borrarOK" (click)="borrarRepostaje(item.id)">BORRAR</button>
					<button id="borrarNO" (click)="descambiaHidden()">Mejor no.</button>
				</div>
			</th>
		</tr> 
	</table>
	
</div>